<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>AddBus</servlet-name>
        <servlet-class>Controller.AddBus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBus</servlet-name>
        <url-pattern>/AddBus</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>addDriver</servlet-name>
        <servlet-class>Controller.addDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addDriver</servlet-name>
        <url-pattern>/addDriver</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>addRoute</servlet-name>
        <servlet-class>Controller.addRoute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoute</servlet-name>
        <url-pattern>/addRoute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addSchedule</servlet-name>
        <servlet-class>Controller.addSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addSchedule</servlet-name>
        <url-pattern>/addSchedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteBus</servlet-name>
        <servlet-class>Controller.deleteBus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteBus</servlet-name>
        <url-pattern>/deleteBus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteDriver</servlet-name>
        <servlet-class>Controller.deleteDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteDriver</servlet-name>
        <url-pattern>/deleteDriver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteRoute</servlet-name>
        <servlet-class>Controller.deleteRoute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteRoute</servlet-name>
        <url-pattern>/deleteRoute</url-pattern>
        </servlet-mapping>
        <servlet>
        <servlet-name>paymentdata</servlet-name>
        <servlet-class>Controller.paymentdata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentdata</servlet-name>
        <url-pattern>/paymentdata</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
